body {
    color:#FDF9F8;
    font-family: 'Baloo Da 2', cursive;
    font-family: 'Sen', sans-serif;
    background-color: #1386EB;
    text-align: center;
    border:40px solid #EB4613;
    border-top: 0px;
    margin: 0px;
}

p{
    padding-top: 5%;
    padding-left:20%;
    padding-right: 20%;
}

form {
    font-size: 1.3em;
    margin-bottom:10px;
}

#but1 {
    background-color: #FF9F1C;
    height:80px;
    width: 150px;
    margin:4px;
    margin-top: 12px;
    font-size:1em;
    border-radius: 25px;
}